html, body {
  background-color: #313338;
  color: #fff;
}
html a, body a {
  text-decoration: none;
}

body {
  -webkit-app-region: no-drag;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #26282C;
}

.link-back {
  display: flex;
  padding: 10px 13px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.w100 {
  width: 100%;
}

.btn {
  cursor: pointer;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  transition: background-color ease 0.3s;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 6px;
}
.btn-sm {
  padding: 8px 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.btn-success {
  background: #248045;
}
.btn-success:hover {
  background: #2c9c54;
}
.btn-red {
  background: #802424;
}
.btn-red:hover {
  background: #9c2c2c;
}
.btn-dark {
  color: #ABB9BF;
  background: #2B2D31;
}
.btn-dark:hover {
  background: #3c3e44;
}

.profile-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.profile-item {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background: #2B2D31;
  color: #ABB9BF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  transition: background-color ease 0.3s, color ease 0.3s;
}
.profile-item svg {
  fill: #ABB9BF;
  transition: fill ease 0.3s;
}
.profile-item:hover {
  color: #fff;
  background: #3A3C42;
}
.profile-item:hover svg {
  fill: #ABB9BF;
}

.input__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.input__item {
  position: relative;
  width: 100%;
}
.input__item input {
  resize: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
  outline: none;
  padding: 14px 22px;
  gap: 16px;
  border-radius: 8px;
  background: #1E1F22;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
}
.input__item label {
  position: absolute;
  left: 16px;
  top: -8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.top-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.topbar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  width: 100%;
  padding-left: 8px;
  justify-content: space-between;
  align-items: center;
  background: #26272C;
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 8px;
}
.topbar-btns {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
}
.topbar-button {
  -webkit-app-region: no-drag;
  cursor: pointer;
  display: flex;
  width: 24px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #26272C;
  transition: background-color ease 0.3s;
  border: none;
}
.topbar-button:hover {
  background: #37383f;
}

/*# sourceMappingURL=style.css.map */
